<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./assest/css/base.css" />
    <link rel="stylesheet" href="./assest/css/index.css" />
    <script type="module">
      import { randerMenu } from './assest/js/index.js'
      import { readJson } from './assest/js/util.js'
      readJson('./data.json').then((res) => {
        randerMenu(res)
      })
    </script>
  </head>
  <body>
    <div class="box">
      <div class="left">
        <div class="search">
          <input type="text" placeholder="请输入内容" />
          <div class="btn">搜索</div>
        </div>
        <div class="nav-list">
          <div class="text">
            <div class="title">
              <div class="icon">
                <img src="./assest/images/text.png" alt="" />
              </div>
              <div class="name">测试接口</div>
            </div>
            <div class="title">
              <div class="icon">
                <img src="./assest/images/text.png" alt="" />
              </div>
              <div class="name">测试接口</div>
            </div>
            <div class="title">
              <div class="icon">
                <img src="./assest/images/text.png" alt="" />
              </div>
              <div class="name">测试接口</div>
            </div>
            <div class="title">
              <div class="icon">
                <img src="./assest/images/text.png" alt="" />
              </div>
              <div class="name">测试接口</div>
            </div>
            <div class="title">
              <div class="icon">
                <img src="./assest/images/text.png" alt="" />
              </div>
              <div class="name">测试接口</div>
            </div>
          </div>
          <div class="item" id="item0">
            <div class="dir" onclick="toggleList('item0')">
              <div class="title">
                <div class="icon">
                  <img src="./assest/images/dir.png" alt="" />
                </div>
                <div class="name">测试接口</div>
              </div>
            </div>
            <div class="text">
              <div class="title">
                <div class="icon">
                  <img src="./assest/images/text.png" alt="" />
                </div>
                <div class="name">测试接口</div>
              </div>
              <div class="title">
                <div class="icon">
                  <img src="./assest/images/text.png" alt="" />
                </div>
                <div class="name">测试接口</div>
              </div>
              <div class="title">
                <div class="icon">
                  <img src="./assest/images/text.png" alt="" />
                </div>
                <div class="name">测试接口</div>
              </div>
              <div class="title">
                <div class="icon">
                  <img src="./assest/images/text.png" alt="" />
                </div>
                <div class="name">测试接口</div>
              </div>
              <div class="title">
                <div class="icon">
                  <img src="./assest/images/text.png" alt="" />
                </div>
                <div class="name">测试接口</div>
              </div>
            </div>
            <div class="item" id="item1">
              <div class="dir" onclick="toggleList('item1')">
                <div class="title">
                  <div class="icon">
                    <img src="./assest/images/dir.png" alt="" />
                  </div>
                  <div class="name">测试接口</div>
                </div>
              </div>
              <div class="text">
                <div class="title">
                  <div class="icon">
                    <img src="./assest/images/text.png" alt="" />
                  </div>
                  <div class="name">测试接口</div>
                </div>
                <div class="title">
                  <div class="icon">
                    <img src="./assest/images/text.png" alt="" />
                  </div>
                  <div class="name">测试接口</div>
                </div>
                <div class="title">
                  <div class="icon">
                    <img src="./assest/images/text.png" alt="" />
                  </div>
                  <div class="name">测试接口</div>
                </div>
                <div class="title">
                  <div class="icon">
                    <img src="./assest/images/text.png" alt="" />
                  </div>
                  <div class="name">测试接口</div>
                </div>
                <div class="title">
                  <div class="icon">
                    <img src="./assest/images/text.png" alt="" />
                  </div>
                  <div class="name">测试接口</div>
                </div>
              </div>
              <div class="item" id="item2">
                <div class="dir" onclick="toggleList('item2')">
                  <div class="title">
                    <div class="icon">
                      <img src="./assest/images/dir.png" alt="" />
                    </div>
                    <div class="name">测试接口</div>
                  </div>
                </div>
                <div class="text">
                  <div class="title">
                    <div class="icon">
                      <img src="./assest/images/text.png" alt="" />
                    </div>
                    <div class="name">测试接口</div>
                  </div>
                  <div class="title">
                    <div class="icon">
                      <img src="./assest/images/text.png" alt="" />
                    </div>
                    <div class="name">测试接口</div>
                  </div>
                  <div class="title">
                    <div class="icon">
                      <img src="./assest/images/text.png" alt="" />
                    </div>
                    <div class="name">测试接口</div>
                  </div>
                  <div class="title">
                    <div class="icon">
                      <img src="./assest/images/text.png" alt="" />
                    </div>
                    <div class="name">测试接口</div>
                  </div>
                  <div class="title">
                    <div class="icon">
                      <img src="./assest/images/text.png" alt="" />
                    </div>
                    <div class="name">测试接口</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="api-title">获取省市区列表</div>
        <div class="content">
          <div class="api-option">
            <div class="label">简要描述：</div>
            <ul>
              <li>描述描述描述描述</li>
            </ul>
          </div>
          <div class="api-option">
            <div class="label">请求URL：</div>
            <ul>
              <li class="url" id="url">http://www.baidu.com</li>
              <li class="copy" onclick="copyText('url')">复制</li>
            </ul>
          </div>
          <div class="api-option">
            <div class="label">请求方式：</div>
            <ul>
              <li>GET</li>
            </ul>
          </div>
          <div class="api-option">
            <div class="label">请求参数：</div>
            <div class="table">
              <table>
                <tr>
                  <th>参数名称</th>
                  <th>参数类型</th>
                  <th>说明</th>
                  <th>必填</th>
                  <th>默认值</th>
                  <th>可选值</th>
                </tr>
                <tr>
                  <td>name</td>
                  <td>string</td>
                  <td>姓名</td>
                  <td>是</td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="api-option">
            <div class="label">返回示例：</div>
            <div class="example">
              <div class="code">
                <pre>
                {
                  "code": 0,
                  "msg": "success",
                  "data": {
                    "province": [
                      {
                        "id": 1,
                        "name": "北京"
                      }
                    ],
                    "city": [
                      {
                        "id": 1,
                        "name": "北京"
                      }
                    ],
                    "area": [
                      {
                        "id": 1,
                        "name": "北京"
                      }
                    ]
                  }
                }
              </pre
                >
              </div>
            </div>
          </div>
          <div class="api-option">
            <div class="label">返回参数说明：</div>
            <div class="table">
              <table>
                <tr>
                  <th>参数名称</th>
                  <th>参数类型</th>
                  <th>说明</th>
                </tr>
                <tr>
                  <td>code</td>
                  <td>int</td>
                  <td>返回码</td>
                </tr>
                <tr>
                  <td>msg</td>
                  <td>string</td>
                  <td>返回信息</td>
                </tr>
                <tr>
                  <td>data</td>
                  <td>object</td>
                  <td>返回数据</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="api-option">
            <div class="label">备注：</div>
            <ul>
              <li>
                描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
